<% content_for :navbar do %>
  <%= render 'shared/dashboard_navbar' %>
<% end %>

<div class="row">
  <div class="col-lg-3 col-md-3">
    <div class="sidebar">
      <ul>
        <li><%= link_to "Events", dashboard_events_path, class: "text-dark text-decoration-none text-sidebar" %></li>
        <li><%= link_to "Users", dashboard_users_path, class: "text-dark text-decoration-none text-sidebar" %></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9">
    <h1 class="text-center">DashBoard System</h1>
  </div>
</div>