<!-- 個人資料/ -->
<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-6 col-sm-10 user-content">
    <%= avatar(@user, 150) %>
    <h2><%= @user.username %></h2>
    <p><%= simple_format(@user.intro) %></p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-6 col-sm-10">
    <hr>
  </div>
</div>  

<!-- 自己開的團/參加的團/追蹤的團 -->
<div class="row justify-content-md-center">
  <div class="col"></div>
  <div class="col"></div>
</div>