@import "./bootstrap_custom.scss";
@import "./user.scss";
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import '@fortawesome/fontawesome-free';

// Avatar
.avatar-35 {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.avatar-50 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.avatar-150 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: inline-block;
  float: right;
}
