@import "./bootstrap_custom.scss";
@import "./user.scss";
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import '@fortawesome/fontawesome-free';
@import "./event.scss";
@import "./welcome.scss";

* {
  box-sizing: border-box;
}

// Avatar
.avatar-35 {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

img.avatar-50 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.avatar-150 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: inline-block;
  float: right;
}

// Form
label.label-text {
  font-size: 1.2em;
}

.btn.btn-text {
  font-size: 1.2em;
  margin: 5px 3px;
}

// Container
.container-margin {
  margin-top: 20px;
  margin-bottom: 40px;
}