// Draft & Public Pages
ul.nav-margin {
  margin: 35px 0 16px 0;
}

// Show page
img.img-cover {
  margin-bottom: 25px;
}

.name-participater {
  display: inline-block;
  font-size: 1.5em;
  margin: 10px 20px;
}

// Index page
.text-date {
  margin-left: 20px;
}