img.index-image {
  margin-left: 10px;
}

.text-tag {
  margin-bottom: 20px;
}

.papular-content {
  margin: 35px auto;
}

.text-number {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

.popular-text {
  font-size: 1.7em;
  font-weight: 500;
}